@import "tailwindcss";


:root {
  --foreground: #000000;
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tylertan {
  font-size: 2vh;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

}

.name{
  font-size: 18vh;
  padding-top: 10vh;
  font-family: serif;
  text-align: center;
}

.berlin{
  font-size: 20vh;
  text-align: left;
  font-family: serif;

}